* {
}

.zeroth-container {

	background-color: #1F2037;
	padding: 0vw 17vw;
	padding-top: 30px;
	height: 70vh;

	

}
body {
	font-family: "Roboto";
}

header {

	display: flex;
	color: #F9FAF8;
	justify-content: space-between;
}
.header-first-half {
	font-size: 24px;
	font-weight: 900;
}
.navbar {
	width: 28vw;
	max-width: 500px;
	display: flex;
	justify-content: space-between;
}



p.hero {
	font-size: 48px;
	font-weight: 900;
	margin: 0;
}
a.subtext {
	text-decoration: none;
	color: #E5E7EB;


}

.first-container {

	padding-top: 100px;
	color: #F9FAF8;
	display: flex;

}

.info {
}

.rightimg {
	margin-right: 0;
	margin-left: auto;
}
	
.subtext {
	color: #E5E7EB;
	font-size: 18px;

}

.img1 {
	height: auto;
	width: 25vw;
}
.fb {
	color: #F9FAF8;
	background-color: #3882F6;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	font-weight: 900;
	padding: 10px 30px;
	margin-top: 20px;

}

p {
	margin: 0px;
	display: inline;
}

img.border {
	height: 100px;
	width: 100px;
	border-radius: 15px;

}

.second-container {
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
}
.one {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	text-align: center;
}

.overimg {
	font-size: 36px;
	font-weight: 900;
	text-align: center;
	padding: 45px;
}

.third-container {
	background-color: #E5E7EB;
	color: #1F2937;
}
.quote {
	margin-right: auto;
	margin-left: auto;
	min-height: 200px;
	font-size: 36px;
	font-style: italic;
	font-weight: 300;
	padding: 30px 26.2vw;
}
.author {
	font-weight: 900;
	font-size: 24px;
	font-style: normal;
	margin-right: 0px;
	margin-left: auto;
	text-align: right;
}
	
.big4th {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.fourth-container {
	display: flex;
	justify-content: space-around;
	background-color: #3882F6;
	min-height: 300px;
	align-items: center;
	font-size: 18px;
	color: white;
	border-radius: 15px;
	margin: auto;
	width: 60vw;

}
.last-bold {
	font-weight: 900;
	font-size: 20px;
}

.fb2 {
	background-color: #3882F6;
	color: white;
	border-radius: 5px;
	min-width: 120px;
	border: 4px solid white;
	margin-left: 15px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1F2937;
	color: #E5E7EB;
	min-width: 100%; 
	text-align: center;
	min-height: 150px;

}
